<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@9.18.1/styles/github.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/highlight.min.js"></script>
<script th:inline="javascript" type="text/javascript">
	$(document).ready(function() {

	});
</script>
</head>
<body>
    <h1>index</h1>
    <div id="content" th:utext="${content}"></div>
    <script type="text/javascript">
					$('pre code').each(function(i, block) {
						hljs.highlightBlock(block);
					});
				</script>
</body>
</html>